node_modules
.DS_Store
.idea
/sftp-config.json
static
static-single

/vendor
/build
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
coverage.xml
test-report.xml

/prettier.config.js
/.eslintrc.js
/stylelint.config.js
