name: Node

on:
  push: 
  pull_request:
    types: [opened, reopened]

jobs:
  frontend:
    name: Frontend tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@2.36.0
      with:
        php-version: '8.4'
        extensions: mbstring, dom, intl, iconv

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Generate documentation
      run: bin/daux generate

    - name: Generate documentation in single file
      run: bin/daux generate --format=html-file --destination=static-single

    - name: Setup Node.js
      uses: actions/setup-node@v5.0.0
      with:
        node-version: '24.x'
        cache: 'yarn'

    - name: yarn install
      run: yarn install

    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps

    - name: yarn build
      run: yarn build

    - name: yarn test
      run: yarn test

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30