name: PHP

on:
  push: 
  pull_request:
    types: [opened, reopened]

jobs:
  build:
    strategy:
      max-parallel: 15
      matrix:
        operating-system: [ubuntu-latest, macOS-latest]
        php-versions: ['8.3', '8.4']
        # TODO : enable tests on windows
        #include:
        #  - operating-system: windows-latest
        #    php-versions: 8.1

    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    runs-on: ${{ matrix.operating-system }}

    steps:
    - uses: actions/checkout@v5

    - name: Setup PHP
      uses: shivammathur/setup-php@2.35.4
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, dom, intl, iconv

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Install tools
      run: ./scripts/install_tools.sh
      shell: bash

    - name: Check formatting
      run: composer run-script lint
      env:
        PHP_CS_FIXER_IGNORE_ENV: 1

    - name: Run test suite
      run: composer run-script test
