name: SonarCloud

on:
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: "SonarCloud"
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup PHP
      uses: shivammathur/setup-php@2.31.1
      with:
        php-version: 8.1
        extensions: mbstring, dom, intl, iconv
        coverage: xdebug

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Install tools
      run: ./scripts/install_tools.sh

    - name: Run test suite
      run: composer run-script test:coverage

    - name: Fix code coverage paths
      run: sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml

    ## Set the latest tag to use to detect "new code" periods
    - id: project_version
      run: echo "project_version=$(git tag -l --sort=-creatordate --format='%(refname:short)' | head -n1)" >> $GITHUB_OUTPUT

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v4.0
      with:
        args: >
          -Dsonar.projectVersion=`${{ steps.project_version.outputs.project_version  }}`
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
